
PersonalRecords\.xcodeproj/project\.xcworkspace/xcshareddata/IDEWorkspaceChecks\.plist

PersonalRecords\.xcodeproj/project\.xcworkspace/xcuserdata/quinnramsay\.xcuserdatad/IDEFindNavigatorScopes\.plist

PersonalRecords\.xcodeproj/project\.xcworkspace/xcuserdata/quinnramsay\.xcuserdatad/xcdebugger/Expressions\.xcexplist

PersonalRecords\.xcodeproj/xcuserdata/quinnramsay\.xcuserdatad/xcdebugger/Breakpoints_v2\.xcbkptlist

PersonalRecords\.xcodeproj/xcuserdata/quinnramsay\.xcuserdatad/xcschemes/PersonalRecords\.xcscheme
